.flash-sales-content__featured-container
  .featured-sale-card
    .js-flash-sale-image-container.featured-sale-card__image-container
      a(href='#')
        img.featured-sale-card__image(alt="Mother's Day Gifts For Yourself", src='/images/large.jpg')
    a.flash-sale-button.flash-sale-button--featured(href='#') Shop
  .featured-promo-content
    .featured-promo-content__top
      .js-flash-sale-image-container
        a(href='#')
          .featured-promo-top
            img.featured-promo-top__image--secondary(src='/images/top1.jpg', alt='Square')
    .featured-promo-content__bottom
      .js-flash-sale-image-container
        a(href='#')
          .featured-promo-bottom
            img.featured-promo-bottom__image--secondary(src='/images/top2.jpg', alt='Square')