- var url = slice.value ? slice.value.url : ""

.flash-sales-content__featured-container
  .featured-sale-card__image-container
    div.full-width-promo
      a(href='#')
        img.featured-sale-card__image(src=url)