.foot-social-row
  a.foot-social-row__link.foot-social-row__link--real-style(target='_blank', href='http://realstyle.therealreal.com')
  a.foot-social-row__link.foot-social-row__link--facebook(target='_blank', href='https://www.facebook.com/TheRealRealPage')
  a.foot-social-row__link.foot-social-row__link--instagram(target='_blank', href='http://instagram.com/therealreal')
  a.foot-social-row__link.foot-social-row__link--pinterest(target='_blank', href='http://www.pinterest.com/therealreal/')
  a.foot-social-row__link.foot-social-row__link--twitter(target='_blank', href='https://twitter.com/therealreal')
  a.foot-social-row__link.foot-social-row__link--google(target='_blank', href='https://plus.google.com/u/0/+therealreal/posts')
  a.foot-social-row__link.foot-social-row__link--mobile(href='#')
