doctype html
html.responsive-layout-active.js.flexbox.no-touch.history.draganddrop.websockets.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent(lang='en')

head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fbrealrealconsignment: http://ogp.me/ns/fb/realrealconsignment#', data-optly-2e52fdc0-ee6e-49e9-b4b1-79653d460903='')
  script(type='text/javascript', async='', src='//d1ivexoxmp59q7.cloudfront.net/therealreal/live.js')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title
    | Luxury consignment sales. Shop for pre owned designer handbags, shoes, jewelry and more | The RealReal
  meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
  meta(name='title', content='Luxury on The RealReal')
  meta(name='description', content="The RealReal offers women's and men's luxury fashion brands such as  Chanel, Christian Louboutin, Céline, Hermes, Gucci, Louis Vuitton, Manolo Blahnik and Rolex.")
  link(rel='icon', type='image/x-icon', href='/favicon-48x48.png', sizes='48x48')
  link(rel='stylesheet', media='all', href='/stylesheets/styles.css')
  link(rel='stylesheet', media='all', href='/stylesheets/prismic-styles.css')
    
  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")

body.responsive-layout-active

  include ./partials/header.pug

  block body

  include ./partials/footer.pug